<!doctype html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='no' lang='no'>
    <head>
        <title>Gimme Bar | With Great Joy – Rands in Repose</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='This is Gimme Bar, the 5th greatest invention of all time.' name='description' />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <link rel="stylesheet" type="text/css" href="../../static/css/main.scss.css" />
        <link rel="icon" type="image/png" href="../../static/img/favicon.png" />
        <script type="text/javascript">
            var t=setTimeout(function(){var a=document.getElementsByTagName("html")[0];a.className=a.className.replace(/(\s|^)wf-loading(\s|$)/g,"");a.className+=" wf-inactive"},3000);function loadTypeKit(){clearTimeout(t);try{Typekit.load()}catch(a){}};
        </script>
        <script type="text/javascript" async="async" onload="javascript:loadTypeKit()" src="https://use.typekit.com/dej6mmt.js" charset="UTF-8"></script>
        
    </head>
    <body id="page-view" class="l-static">
        
            <div id="topbar">
    <div id="topbar-body" class="is-magnetized">
        <ul id="site-nav" class="nav">
            <li id="logo" class="nav-item"><a href="../../index.html">Home</a></li>
            <li id="logo-text" class="nav-item"><a href="../../index.html">Gimme Bar</a></li>
        </ul>
        <ul id="extra-nav">
            <li>
                <a href="#gimmebar-nav" id="gimmebar-menu" class="dropdown-trigger">
                    <span class="label">Us</span>
                    <span class="icon"></span>
                </a>
                <ul id="gimmebar-nav" class="dropdown l-list">
                    <li><a href="../../purpose/index.html">/Purpose</a></li>
                    <li><a href="../../copyright/index.html">Copyright Information</a></li>
                    <li><a href="../../privacy/index.html">Privacy</a></li>
                    <li><a href="../../terms/index.html">Terms</a></li>
                    </ul>
            </li>
            
                <li>
                    <a href="#user-nav" id="user-menu" class="usertag l-inline dropdown-trigger">
                        <img class="usertag-avatar" src="../../img/avatar/kingkool68" alt="avatar for kingkool68" width="24" height="24">
                        <span class="usertag-username">You</span>
                        <span class="icon"></span>
                    </a>
                    <ul id="user-nav" class="dropdown l-list">
                        <li><a href="../../assets/kingkool68/index.html">Gimmes</a></li>
                        <li><a href="../../collections/kingkool68/index.html">Collections</a></li>
                        <li><a href="../../user/kingkool68/tags/index.html">Tags</a></li>
                        </ul>
                </li>
            
        </ul>
    </div>
</div>
        
        

    
        
    
    <div id="contentbar" class="sc-right stick-to-top-unstuck">
        <div id="contentbar-body" class="is-magnetized sc-max-width">
            <a href="#" id="scroll-top" class="tooltip">
                <img src="../../static/img/icon20.png" alt="gimme bar icon" width="20" height="20">
                <span class="tip">Back to top</span>
            </a>
            <div id="contentbar-info">
                <h2 class="user-username is-display">kingkool68</h2>
                <a class="user-profile" href="../../loves/kingkool68/index.html">Public profile</a>
                <a class="user" href="../../assets/kingkool68/index.html">
                    <img class="user-avatar" src="../../img/avatar/kingkool68" width="48" height="48">
                </a>
            </div>
            <ul id="contentbar-navigation" class="nav">
                <li ><a href="../../assets/kingkool68/index.html">Gimmies</a></li>
                <li ><a href="../../collections/kingkool68/index.html">Collections</a></li>
            </ul>
        </div>
    </div>

<div id="middle">
    <div id="modal">
        <div id="modal-main" class="is-article">
    
        <div class="asset-wrap">
	<h3 class="asset-title">With Great Joy – Rands in Repose</h3>
	<a class="asset-source" href="http://randsinrepose.com/archives/with-great-joy/"><img src="../../img/favicon/randsinrepose.com" height="16" width="16" alt="favicon for randsinrepose.com"/>randsinrepose.com</a>
	<div class="asset">
		<p>Rands A little bit of sadness<br>
With Great Joy<br>
It is with great joy and a little bit of sadness that I welcome you to next version of Rands.<br>
For a long list of dear friends, I’m “that guy”. I’m the guy who has told an endless number of people that the redesign of Rands has been just around the corner for the last six years and it’s never happened. There have been no less than three designers who have contributed work to designs that simply never happened, and I apologize to each and every one of you. But each design contributed to what you see now – a completely new version of the site.<br>
This final iteration is entirely the fault of my good friend Alex King . Several years ago, Alex was one of the unlucky participants in a “Hey, can you help with me with a redesign?” false start, and to his credit he still speaks to me. This July, he contacted me and wrote:<br>
“You mind if I put together a wireframe or two for your consideration?  Scratch that – I’m excited about the ideas so I will be putting together the rough wireframes – and I’ll send them to you.”<br>
Alex’s initial concepts were a marriage of the design elements I loved from the old site – typography, color palette – with a goal for the new site: a focus on the words. While I love the old site like an old beat-up leather jacket that I’ll never throw away, it was accreting cruft. As I look at each piece of cruft, I remember my decision to put it there, but when I look at the whole, I’ve been slowly losing focus on the words.<br>
Everything is Different<br>
Here’s what’s changed:<br>
I believe the new site is incredibly readable on a big screen, tablet, or phone. If you don’t believe me, resize this window and see how responsive design provides a pleasant reading experience regardless of window size.<br>
After a good long run on Movable Type, the site is now run on the latest version of WordPress. My site is not fancy and has happily served up static pages for years. This static page strategy made the site resilient to a variety of traffic conditions. While I’m assured that WordPress’s scalability issues are long gone, I won’t actually believe it until the new site handles the load.<br>
I’m often asked why I chose to put post dates for article at the bottom of the pieces. The people who ask are in a hurry and mostly care only whether the content is new rather than good. There are over 400 articles of greatly varying quality and some are fortunate enough to stand the test of time. For this redesign, a significant amount of work was done to make it easier to stumble upon this content. In addition to spending time categorizing existing articles, I’ve also combined and added new categories to make it easier to find articles. My favorite new category is Tools , which documents my obsession with pens, paper, coffee mugs, and, soon, conference badges.<br>
Frequent readers have noted that I’ve gone from three or four articles a month to maybe one or two. I’ve developed irrational emotional baggage about what constitutes a Rands article and I want to write more. While I believe long form articles are the bread and butter of this site, I’ve created a new Excerpt type that enables me to post much smaller pieces without the word count and editing requirements of the long form pieces. As I don’t know how I’ll use Excerpts, there is a finite chance you may hate these smaller posts, which is why we’ve developed two different feeds for the site:<br>
Everything is what you see on the Blog page and contains, well, everything.<br>
Long form is just the long form pieces – you’ll always see the latest long piece on the front page of the site.<br>
If RSS isn’t your thing, there is a mailing list where I’ll continue the practice of announcing long form pieces and occasionally asking for help on site redesigns. @rands will still announce long form articles, but @rands_briefly will announce all new content.<br>
Lastly, there’s the Sandbox. The Sandbox has been a part of each redesign I’ve never finished and I’m very happy to finally land this simple concept. In addition to providing jumps to various useful content on the site, it also documents what I consider to be additional Rands canon: the Twitter and Instagram accounts. A Sandbox is where you play, I play on Twitter and Instagram, and you should come play, too.<br>
A Little Bit of Sadness<br>
This is the fifth revision to the site, but this is the first time someone else has done a majority of the heavy lifting. It’s been a point of pride for me that I’ve been responsible for every single part of the site save for the hosting , but it’s precisely this pride which has prevented the site from evolving.<br>
Alex and his team at Crowd Favorite borrowed elements from the existing design, but re-implemented the WordPress design from scratch utilizing their responsive CSS grid and Carrington Core templating framework. What they’ve crafted is a site where all of the content is deftly managed inside of the WordPress application. Work that was a pain in Movable Type is an afterthought in WordPress. Additionally, the site infrastructure is deliciously stored in git, which, I’m embarrassed to say, is my first opportunity to really use git. Don’t judge.<br>
When Alex mailed me with his ideas for wireframes in July, I had no credible plan to launch a new version of Rands, let alone a modern, mobile-friendly site that not only provides creative options for the future, but also excavates over ten years of content buried in the archives . Sure, I’d been asking for help from designers and developers, but I wasn’t getting enough help because I wasn’t delegating enough.<br>
If delegating doesn’t hurt, you’re getting less done than you could.<br>
Welcome to new site. I’d love to hear what you think. I’m certain things are broken and I’d appreciate your patience while I fix them. Lastly, thanks for a being a reader. I’ve got more to say, and thanks to Alex and Crowd Favorite, I have a modern platform where I can say it and this brings me great joy.<br>
#<br>
</p>
	</div>
</div>
    
</div>
<ul class="asset-meta">
    <ul>
        <li class="asset-source">
            <h3 class="l-dt">Source</h3>
            <div class="l-dd">
                
                    <a class="source default" rel="nofollow" href="http://randsinrepose.com/archives/with-great-joy/">randsinrepose.com</a>
                
            </div>
        </li>
        <li class="asset-collections">
            <h3 class="l-dt">Collections</h3>
            <ul class="l-dd">
                
                    <li><a href="../../collection/4e7cc08c2e0aaabe19000004/firehose/index.html">Public Firehose</a></li>
                
                    <li><a href="../../collection/4e7cc3032e0aaa3a2e000020/web-design/index.html">Web Design</a></li>
                
                    <li><a href="../../collection/4ecdb2762f0aaa211e00002b/portfolio/index.html">portfolio</a></li>
                
            </ul>
        </li>
        <li class="asset-collections">
            <h3 class="l-dt">Tags</h3>
            <ul class="l-dd">
                
            </ul>
        </li>
        <li class="asset-source">
            <h3 class="l-dt">Saved</h3>
            <div class="l-dd">
                <a class="source default" href="#">Wednesday, 06. November 2013 05:28PM</a>
            </div>
        </li>
        <li class="asset-source">
            <h3 class="l-dt">Meta</h3>
            <div class="l-dd">
                <a class="source default" href="asset.json">Gimme JSON</a>
                
            </div>
        </li>
        
    </ul>
</ul>
    </div>
</div>

        
        
            <script type='text/javascript' src='../../static/js/export.js' charset='UTF-8'></script>
        
    </body>
</html>