<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>The Inspiration Stream | Veerle&#39;s blog 3.0 - Webdesign - XHTML CSS | Graphic Design</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    </head>
    <body id="gimme">
        <div id="wrap" class="container">
            <a href="../index.html">
                
                    <img src="../img/original" class="image" />
                
            </a>
        </div>
    </body>
</html>